.ui.primary.button {
    background-color: #173c99;
    color: aliceblue;
    border-radius: 8px;
    outline: none; /* Evita el contorno predeterminado al hacer clic */

    &:hover {
        color: black;
        background-color: #527fee;
    }

    &:focus {
        background-color: #173c99 !important;
        color: aliceblue;
    }
}