.side-menu-admin {
  .ui.menu {
    width: 250px !important;
    height: 100vh;
    width: 100%;
    display: flex;
    background-color:  #527fee;
    background-image: linear-gradient(340deg, #527fee 0%,  #173c99 74%);
    overflow: hidden;
    padding-top: 4em;
    z-index: 99 !important;
  }

  .menu-item{
    color: antiquewhite !important;
    font-size: 15px;
  }

  .side{
    color: antiquewhite !important;
    font-size: 15px;
  }

  i.icon{
    color: antiquewhite !important;
    float: initial !important;
    margin: 0 !important;
    margin-right: 10px !important;
  }

  .content{
    position: absolute;
    right: 0;
    padding: 20px;
    width: calc(100% - 250px);
  }
}
